.primary-1 { background-color: #0969A2 }
.primary-2 { background-color: #245A7A }
.primary-3 { background-color: #03436A }
.primary-4 { background-color: #3D9AD1 }
.primary-5 { background-color: #64A8D1 }

body {
    margin:0;
    background: #e9e9e9;
    color: #666;
    font: 70%/1 Verdana, sans-serif;
    text-align:left;
}

div#help_text input {
    background-image: url(/templates/static/gfx/question_white.png);
    background-repeat: no-repeat;
}

h1 {
    margin: 0.5em 0;
    font-size: 200%;
}
p {
    margin: 0.5em 0;
}

p.centered {
    text-align: center;
}

#menu {
    background:#424242 none repeat scroll 0 0;
    height:45px;
    position: relative;
    border-bottom: solid 1px #ff9900;
    /*margin-bottom:5px;*/
}

#menu p
{
    margin: 10px 0;
    padding: 5px;
}

#messages
{
    margin: auto;
}

#messages p
{
    text-align: center;
    border: 1px solid silver;
    background: #E8EDFF;
    margin-top: 2px;
    margin-bottom: 2px;
}
#messages button
{
    color: #ff9900;
    background: transparent;
}

#mapa {
    width: 525px;
    height: 400px;
    border: 1px solid #ff9900;
}

#hash
{
    display: none;
}

.hide
{
    display: none;
}

#clear,
.clear
{
    clear: both;
}

#right {
    float: right;
}

#left {
    float: left;
    position: relative;
}

.header {
    background: #424242;
    /*height: 70px; ukrywamy*/
    height: 0px;
    /*background-image: url(/templates/static/gfx/kaziu_header_3.png);
    background-repeat: no-repeat;*/

}

.color-table {
    border:solid 2px silver;
    width: 400px; /*Tutaj szerokość dodałem*/
    font-size:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.color-table th {
    padding: 0 1em 0 0;
    text-align:right;
    vertical-align: middle;
    border: none;
}
.color-table td.sample {
    width:8em; height:8em;
    padding: 10px;
    text-align:center;
    vertical-align:middle;
    font-size:90%;
    border: 1px solid white;
}
.color-table.small td.sample {
    width:4em; height:4em;
    padding:0;
    border:none;
}
.color-table .white { color:white }
.color-table .black { color:black }

hr {
    border:none;
    border-bottom:1px solid #ff9900;
}
#footer {
    text-align:center;
    font-size:80%;
}

#footer p
{
    margin: 5px;
}

.badge {
    display:block;
    /*margin-bottom:10px;*/
    margin-top:-10px;
    margin-right:30px;
    float:right;
    color:white;
}

.zapomniales_hasla {

    float: right;
    margin-right:1px;
    margin-bottom:1px;
}




/* --------Css dla formularza------------------ */

p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ----------- My Form ----------- */
.myform{
    margin:0 auto;
    width:400px;
    padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
    border:solid 2px silver;
    background:#3299bb;
}

#stylized h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:20px;
    border-bottom:solid 1px #ff9900;
    padding-bottom:10px;
}

#stylized p{
    height: 40px;
    margin-bottom: 5px;
    position: relative; /*Jakiekolwiek position w tym obiekcie spowoduje że pozycjonowanie absolutne w elementach potomnych będzie tworzone względem tego obiektu*/
}

#stylized p label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    position: absolute; /*Label ma być pozycjonowany absolutnie czyli odległość od góry 0px i z lewej 0 px OD <strong>PIERWSZEGO</strong> OBIEKTU NADRZĘDNEGO KTÓRY MA POZYCJONOWANIE ABSOLUTNE LUB RELATYWNE - u nas tym obiektem jest P - linia 137*/
    top: 0px;
    left: 0px;
/*float:left; mnie osobiście wygodniej pozycjonuje się za pomocą position, bo we floatach łatwo się pogubić i trzeba pamiętać że tam gdzie chcemy nowy wiersz trzeba dać np. na za każdym polem formularza trzeba dać jak na to nazywam cleara czyli np. <div style="clear: both;"></div> taki CSSowy odpowienik <br/>*/
}

#stylized em{
    text-align:left;
}

#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

#stylized p input{
    font-size: 12px;
    padding: 4px 20px;
    border: solid 1px #aacfe4;
    width: 164px;
    margin: 2px 10px 20px 10px;
    position: absolute;/*input ma być pozycjonowany absolutnie czyli odległość od góry 0px i z lewej 0 px OD <strong>PIERWSZEGO</strong> OBIEKTU NADRZĘDNEGO KTÓRY MA POZYCJONOWANIE ABSOLUTNE LUB RELATYWNE - u nas tym obiektem jest P - linia 137*/
    top: 0px;
    right: 0px;
}

#stylized p textarea{
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 10px 20px 10px;
    position: absolute;/*input ma być pozycjonowany absolutnie czyli odległość od góry 0px i z lewej 0 px OD <strong>PIERWSZEGO</strong> OBIEKTU NADRZĘDNEGO KTÓRY MA POZYCJONOWANIE ABSOLUTNE LUB RELATYWNE - u nas tym obiektem jest P - linia 137*/
    top: 0px;
    right: 0px;
}

#stylized p select{ /*Zmiany takie samo jak w #stylized p input*/
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 50px;
    margin:2px 10px 20px 10px;
    position: absolute;
    top: 0px;
    right: 156px;
}

#stylized button{
    clear:both;
    margin-left:16px;
    width:125px;
    height:31px;
    background:#ff9900;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

#stylized .message{
    float: right;
    padding-right: 10px;
}

/* czerwień na niebieskim tle strasznie wali w oczy */
#stylized .errorlist {
    /*color: #FF69A5;*/
    color: #ff9960;
}

/*
 * Arturrro wuz here ;-) Podzielenie div#kontener na lewą stronę(formularz) i prawą(tabelka)
 */
div#container
{
    margin: 0px auto;
    width: 940px; /*Zmieniając szerokość tego diva automatycznie zmieniasz odstęp między lewym (formularz) a prawym (tabela) divem.*/
    min-height: 500px;
}

#box-table-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    /*border-bottom: 2px solid silver;*/
}

#box-table-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #ff9900;
}
#box-table-a th,
#box-table-b th
{
    font-size: 13px;
    font-weight: normal;
    padding: 5px;
    background: #3299bb;
    border-bottom: 1px solid #fff;
    color: #666666;
}
#box-table-a td,
#box-table-b td
{
    padding: 5px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

#box-table-a tr:hover td,
#box-table-b tr:hover td
{
    background: #d0dafd;
    color: #339;
}

#table_container
{
    width: 385px;
}

#table_container div
{
    background: #3299bb;
    border-top: 2px solid #ff9900;
    padding: 14px;
    font-weight: bold;
}

#table_container p
{
    border-bottom:1px solid #ff9900;
    padding-bottom:10px;
    font-size: 14px;
}

#ajax_results
{
    height: 75px;
    width: 400px;
    margin: auto;
    padding: 10px;
}

#ajax_results table
{
   margin: auto;
}


/* Menu shit */
ul {
	padding: 5px 5px 0;
	margin: 0;
	list-style: none;
	float: left;
}

ul li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul li a {
	text-decoration: none;
	float:left;
	color: #999;
	cursor: pointer;
	font: 900 14px/22px "Arial", Helvetica, sans-serif;
}

ul li a span {
	margin: 0 10px 0 -10px;
	padding: 1px 8px 5px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
}

ul.blue li a.current, ul.blue li a:hover {
	background: url(/templates/static/blue.png) no-repeat top right;
 	color: #0d5f83;
}

ul.blue li a.current span, ul.blue li a:hover span {
	background: url(/templates/static/blue.png) no-repeat top left;
}

#error-div input,
.error
{
    /*background-color: #FF69A5;*/
    background-color: #FF9960;
    background-image: url(/templates/static/gfx/exclamation_white.png);
    background-repeat: no-repeat;
    background-position: right;
}

div#content
{
    min-height: 400px;
    margin-top: 5px;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

#a-form
{
    width: 170px;
}

#a-form p
{
    width: 160px;
}

#a-form input
{
    width: 160px;
}

#a-form select
{
    width: 160px;
    background: #ff9900;
}

#a-form textarea
{
    width: 160px;
    resize: none;
}

#a-form input[name="dl_geogr"],
#a-form input[name="szer_geogr"]
{
    width: 160px;
}

#a-form button
{
    float: right;
    margin: 6px;
    padding: 1px;
    border: solid 1px #424242;
    background: #ff9900;
}

#a-form label
{
    float: left;
}

#szukaj
{
    float: left;
}

#szukaj input
{
    border: 1px solid #ff9900;
    margin: 1px 0;
}

#szukaj button
{
    padding: 1px;
    border: solid 1px #424242;
    background: #ff9900;
}

#wyszukiwanie_message
{
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 1;
    padding: 5px;
    opacity: 0.75;
    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    color: white;
    background: #ff9900;
}

#howto
{
    position: absolute;
    top: 380px;
    left: 280px;
    z-index: 1;
    padding: 5px;
    opacity: 0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    color: white;
    background: #ff9900;
    font-size: 14px;
}

#nowy_banknot
{
    position: absolute;
    top: 35px;
    left: 465px;
    z-index: 1;
    padding: 5px;
    opacity: 0.75;
    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    color: white;
    background: #ff9900;
}

#ostat_lokal_div
{
    float: right;
}

#ostat_lokal_div select
{
    background: #ff9900;
    margin: 1px 0;
    border: 1px solid #ff9900;
    font-size: x-small;
}

#graph-lewy,
#graph-prawy
{
    width: 300px;
    height: 300px;
}

.graph {
  margin-bottom: 50px;
  margin-top: 30px;
  clear: both;
  font-family: georgia, serif;
  font-size: 14px;
}

.graph .label {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.graph-header h3 {
  margin-bottom: 0px;
}
.graph-header {
  text-align: center;
}
.graph-header p {
  margin-top: 0px;
}

.graph .legend td, .graph .legend, .graph .legend tr {
  padding: 0px;
  margin: 0px;
  border-collapse:collapse;
}

.graph .legend {
  margin-left: 10px;
}
.graph .legend td {
  padding-right: 5px;
}

.graph .legend .color-box {
  width: 14px;
  height: 10px;
  overflow: hidden;
}

div.jGrowl div.mgrowl {
    font-family: "Helvetica Neue", "Helvetica";
    font-size: 12px;
    -moz-border-radius: 	0px;
    -webkit-border-radius:	0px;
    opacity: .90;
    filter: alpha(opacity = 90);
    width: 215px;
    height: 100px;
    padding: 0px;
    overflow: hidden;
    border-color: #424242;
    border: 1px solid;
    color: #424242;
    background: #ff9900;
    background-color: #ff9900;
}

div.jGrowl div.mgrowl div.message {
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background: #ff9900;
    background-color: #ff9900;
}

div.jGrowl div.mgrowl div.header {
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    background: #ff9900;
    background-color: #ff9900;
}

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left; }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button,
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }

/*demo page css*/
h2 { clear: both; padding-top:1.5em; margin-top:0; }
.strike { text-decoration: line-through; }