<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
{% load dajaxice_templatetags  %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jquery.tooltip.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jquery-ui-1.8.1.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jquery.jgrowl.css" />
    <!--Production js 1.4.2-->
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery-ui.compiled.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.serialize.compiled.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/json2.compiled.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.cookie.compiled.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/main.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/kazimierz.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.enumerable.compiled.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.timers.compiled.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.tooltip.pack.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.jgrowl_compressed.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=pl"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery.dajax.core.js"></script>

    {% dajaxice_js_import %}
    <title>{% block title%} {% endblock %} - permanentna inwigilacja banknotów - Gdzie Był Kaziu?</title>
  </head>

  <body>
    <div id="wrapper">
      <div class="header">
      </div>

      <div id="menu">
	    <div id="left">
	      <ul class="blue">
	        <li><a href="/"><span>Strona główna</span></a></li>
	      </ul>
	    </div>
      </div>
      <div id="clear"></div>

      <div id="content">
	    <div id="messages">
	      {{ request.META }}
	    </div>
	    {% block content %}
	    {% endblock %}

      </div>

      <div id="footer">
	{% block footer %}
	{% endblock %}
	<hr />
	Copyleft ALL WRONGS RESERVED <a href="http://michalklich.com">Michał Klich</a> 2013 |
	<a href="/">Strona główna</a> |
    <a href="https://twitter.com/GdzieBylKaziupl">twitter</a>
	<p>Wersja: Dajax'n'shit 0.666</p>
      </div>

      <a href="http://browsehappy.pl" class="badge">
	<img src="http://browsehappy.pl/2.png" alt="Nowoczesne przeglądarki" border="0" />
      </a>
      <a href="http://djangopony.com/" class="badge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered" /></a>
    </div>
    {% block js%}

    {% endblock %}
  </body>
</html>
