{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
Strona główna
{% endblock %}

{% block content %}
<div id="container">
  <div id="left">
    <div id="wyszukiwanie">
      <div id="szukaj">
	<input type="text" id="wpisz_adres">
	<button type="button" id="szukaj_adres">Szukaj</button>
      </div>
      <div id="wyszukiwanie_message"></div>
      <button id="nowy_banknot">Nowy</button>
      <div id="howto">Kliknij na mapie aby dodać banknot</div>
      <div id="ostat_lokal_div">
	Ostatnie miejsca
	<select id="ostat_lokal">
	  <option>Wybierz</option>
	</select>
      </div>
    </div>
    <div id="mapa">
    </div>
    <div id="maps-form" class="hide">
      <form id="a-form" method="post">
	<p>
	  <label for="id_numer_seryjny">Numer seryjny:</label>
	  {{ form_maps.numer_seryjny }}
	</p>
	<p>
	  <label for="id_nominal">Nominał:</label>
	  {{ form_maps.nominal }}
	</p>
	<p>
	  <label for="id_notka">Info:</label>
	  {{ form_maps.notka }}
	</p>
	<p>
	  <label for="id_szer_geogr">Szerokość geograficzna:</label>
	  {{ form_maps.szer_geogr }}
	</p>
	<p>
	  <label for="id_dl_geogr">Długość geograficzna:</label>
	  {{ form_maps.dl_geogr }}
	</p>
	<button id="a-form-button"type="submit"
		value="Dodaj">Dodaj</button>
      </form>
    </div>
  </div>

  <div id="right">
    <div id="table_container">
    </div>
  </div>
  <div id="clear"></div>
  <div id="ajax_results">
    <table id="box-table-a">
      <thead>
	<tr>
	  <th>&sum; ilość użytkowników</th>
	  <th>&sum; wartość banknotów</th>
	  <th>&sum; ilość kilometrów</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<div id="szerokosc">
</div>
<div id="dlugosc">
</div>

{% endblock %}

{% block js %}

{% endblock %}
