<table id="box-table-a">
  <thead>
    <tr>
      <th>&sum; ilość użytkowników</th>
      <th>&sum; wartość banknotów</th>
      <th>&sum; ilość kilometrów</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{users_total}}</td>
      <td>{{value_total}} zł</td>
      <td>{{km_total}} km</td>
    </tr>
  </tbody>
</table>
